<!DOCTYPE html>
<html>
<head>
	<title>Arena</title>

	<link rel="stylesheet" href="style.css" />
	<style>
	
	html, 
body {
    height: 100%;
	margin: 0 auto;
	padding: 0 auto;
}
		.table-wrapper {
			
			background-color: green;
			padding: 20px;
			margin:0 auto;
			border-radius: 20px;
			height:90%;
			width:800px;
			margin-top:20px;
		}

		table {
			margin: auto;
			border-radius: 20px;
		}

		td {
			text-align: center;
			width: 200px;
			height: 250px;
			border-radius: 20px;
		}

		.card{
			width:85% !important;
			height: 95% !important;
			margin:0 !important;
			box-shadow:5px 10px 10px 2px;


		}.cardMy{
			margin:0 !important;


		}
		.me{
			display: inline-block;
			margin:70px 0 0 0;	
		}
.card.move-up {
      top: -15px;
    }

		
    }
	</style>
</head>
<body>
	<div class="table-wrapper">
			<table>
				<tr class="enemy">
					<td>
						<div class="card" id=5>
						  <img src="https://source.unsplash.com/random/225x315" alt="Card Image">
						  <div class="card-text">
							<h3>Card Name</h3>
							<p>Card Description</p>
							<div class="stats">
							  <div class="attack">
								<span>ATK</span>
								<span>1000</span>
							  </div>
							  <div class="defense">
								<span>DEF</span>
								<span>500</span>
							  </div>
							  <div class="life-points">
								<span>LP</span>
								<span>8000</span>
							  </div>
							</div>
						  </div>
						</div>
					</td>
					<td>
						<div class="card" id=6>
						  <img src="https://source.unsplash.com/random/225x315" alt="Card Image">
						  <div class="card-text">
							<h3>Card Name</h3>
							<p>Card Description</p>
							<div class="stats">
							  <div class="attack">
								<span>ATK</span>
								<span>1000</span>
							  </div>
							  <div class="defense">
								<span>DEF</span>
								<span>500</span>
							  </div>
							  <div class="life-points">
								<span>LP</span>
								<span>8000</span>
							  </div>
							</div>
						  </div>
						</div>
					</td>
					<td>
						<div class="card" id=7>
						  <img src="https://source.unsplash.com/random/225x315" alt="Card Image">
						  <div class="card-text">
							<h3>Card Name</h3>
							<p>Card Description</p>
							<div class="stats">
							  <div class="attack">
								<span>ATK</span>
								<span>1000</span>
							  </div>
							  <div class="defense">
								<span>DEF</span>
								<span>500</span>
							  </div>
							  <div class="life-points">
								<span>LP</span>
								<span>8000</span>
							  </div>
							</div>
						  </div>
						</div>
					</td>
				</tr>
			</table>

			<table>
				<tr class="me">
					<td>
						<div class="card myCard" id=2>
						  <img src="https://source.unsplash.com/random/225x315" alt="Card Image">
						  <div class="card-text">
							<h3>Card Name</h3>
							<p>Card Description</p>
							<div class="stats">
							  <div class="attack">
								<span>ATK</span>
								<span>1000</span>
							  </div>
							  <div class="defense">
								<span>DEF</span>
								<span>500</span>
							  </div>
							  <div class="life-points">
								<span>LP</span>
								<span>8000</span>
							  </div>
							</div>
						  </div>
						</div>
					</td>
					<td>
						<div class="card myCard" id=3>
						  <img src="https://source.unsplash.com/random/225x315" alt="Card Image">
						  <div class="card-text">
							<h3>Card Name</h3>
							<p>Card Description</p>
							<div class="stats">
							  <div class="attack">
								<span>ATK</span>
								<span>1000</span>
							  </div>
							  <div class="defense">
								<span>DEF</span>
								<span>500</span>
							  </div>
							  <div class="life-points">
								<span>LP</span>
								<span>8000</span>
							  </div>
							</div>
						  </div>
						</div>
					</td>
					<td>
						<div class="card myCard" id=4>
						  <img src="https://source.unsplash.com/random/225x315" alt="Card Image">
						  <div class="card-text">
							<h3>Card Name</h3>
							<p>Card Description</p>
							<div class="stats">
							  <div class="attack">
								<span>ATK</span>
								<span>1000</span>
							  </div>
							  <div class="defense">
								<span>DEF</span>
								<span>500</span>
							  </div>
							  <div class="life-points">
								<span>LP</span>
								<span>8000</span>
							  </div>
							</div>
						  </div>
						</div>
					</td>
				</tr>
			</table>
	</div> 
	<script src="script1.js"></script>
</body>
</html>
